*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.google-btn a{
    display: flex;
    border: 1px solid  #4285f4;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.google-btn .google-icon-wrapper{
    border-right: 1px solid  #4285f4;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4285f4;
}
.btn-text{
    color: white;
    background-color: #4285f4;
    line-height: 2;
    padding: 0 5px;
    font-size: 16px;
}